// Vant 主题色配置
:root {
  --van-primary-color: #FB7299;
  --van-success-color: #07c160;
  --van-warning-color: #ff976a;
  --van-danger-color: #ee0a24;
  --van-text-color: #323233;
  --van-text-color-2: #646566;
  --van-text-color-3: #969799;
  --van-background-color: #f7f8fa;
  --van-background-color-light: #fafafa;
  --van-border-color: #ebedf0;
}
